@font-face {
	font-family: 'Kis Text BT Web';
	src: url(../../assets/fonts/Kis%20Text%20BT%20Web-55dff82cad6ba0c49484eee384260b05.woff2) format('woff2'),
	url(../../assets/fonts/Kis%20Text%20BT%20Web-77f0bb3c8bbc393b60e84121a387b27b.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}